postgres:
  exposeExternal: true
  loadBalancerInternal: false
  loadBalancerSourceRanges:
    - "51.103.132.207/32"
    - "51.103.132.61/32"
    - "51.103.131.51/32"
    - "51.103.132.65/32"
    - "51.107.58.161/32"
    - "51.103.128.221/32"
    - "51.103.131.179/32"
    - "51.103.132.184/32"
    - "51.103.132.243/32"
    - "51.103.132.223/32"
    - "20.250.129.154/32"
    - "20.250.130.18/32"
    - "20.250.130.165/32"
    - "20.250.130.168/32"
    - "20.250.130.175/32"
    - "20.250.75.216/32"
    - "20.250.129.196/32"
    - "20.250.130.60/32"
    - "20.250.131.84/32"
    - "20.250.131.140/32"
    - "20.250.131.174/32"
    - "20.250.132.72/32"
  replicas: 1
  image:
    repository: postgres
    tag: "16"
    pullPolicy: IfNotPresent
  database: planify
  username: planify
  password: planify123
  port: 5432
  storage: 5Gi
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

kafka:
  replicas: 1
  image:
    repository: confluentinc/cp-kafka
    tag: "7.5.0"
    pullPolicy: IfNotPresent
  port: 9092
  brokerId: "1"
  offsetsTopicReplicationFactor: "1"

zookeeper:
  replicas: 1
  image:
    repository: confluentinc/cp-zookeeper
    tag: "7.5.0"
    pullPolicy: IfNotPresent
  clientPort: "2181"
  tickTime: "2000"

keycloak:
  replicas: 1
  image:
    repository: quay.io/keycloak/keycloak
    tag: "24.0.1"
    pullPolicy: IfNotPresent
  adminUsername: admin
  adminPassword: admin
  port: 8080
  nodePort: 30080
  database:
    type: postgres
    schema: keycloak
  hostnameStrict: "false"
  httpEnabled: "true"