apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: planify-selfsigned-cert
spec:
  secretName: {{ .Values.ingress.tlsSecretName }}
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
  dnsNames:
  - {{ .Values.global.domain }}
  - "*.{{ .Values.global.domain }}"
  - analytics.{{ .Values.global.domain }}