apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secrets
type: Opaque
stringData:
  KEYCLOAK_ADMIN_USERNAME: {{ .Values.keycloak.adminUsername | quote }}
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.keycloak.adminPassword | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config
data:
  KC_DB: {{ .Values.keycloak.database.type | quote }}
  KC_HTTP_RELATIVE_PATH: {{ .Values.keycloak.httpRelativePath | quote }}
  KC_PROXY: {{ .Values.keycloak.proxy | quote }}
  KC_DB_URL: "jdbc:postgresql://postgres-service:{{ .Values.postgres.port }}/{{ .Values.postgres.database }}?currentSchema={{ .Values.keycloak.database.schema }}"
  KC_DB_USERNAME: {{ .Values.postgres.username | quote }}
  KC_DB_SCHEMA: {{ .Values.keycloak.database.schema | quote }}
  KC_HOSTNAME_STRICT: {{ .Values.keycloak.hostnameStrict | quote }}
  KC_HOSTNAME: {{ .Values.keycloak.hostname | quote }}
  KC_HTTP_ENABLED: {{ .Values.keycloak.httpEnabled | quote }}
  KC_HOSTNAME_STRICT_HTTPS: "false"
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
spec:
  type: NodePort
  selector:
    app: keycloak
  ports:
    - name: http
      port: {{ .Values.keycloak.port }}
      targetPort: {{ .Values.keycloak.port }}
      nodePort: {{ .Values.keycloak.nodePort }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: {{ .Values.keycloak.replicas }}
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: "{{ .Values.keycloak.image.repository }}:{{ .Values.keycloak.image.tag }}"
          imagePullPolicy: {{ .Values.keycloak.image.pullPolicy }}
          args:
            - "start-dev"
            - "--import-realm"
          ports:
            - containerPort: {{ .Values.keycloak.port }}
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KEYCLOAK_ADMIN_USERNAME
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          envFrom:
            - configMapRef:
                name: keycloak-config
          volumeMounts:
            - name: realm-config
              mountPath: /opt/keycloak/data/import
              readOnly: true
      volumes:
        - name: realm-config
          configMap:
            name: keycloak-realm-config