apiVersion: v1
kind: Secret
metadata:
    name: keycloak-secrets
    namespace: planify-dev
type: Opaque
stringData:
    KEYCLOAK_ADMIN_USERNAME: "admin"
    KEYCLOAK_ADMIN_PASSWORD: "admin"
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: keycloak-config
    namespace: planify-dev
data:
    KC_DB: "postgres"
    KC_DB_URL: "jdbc:postgresql://postgres-service:5432/planify?currentSchema=keycloak"
    KC_DB_USERNAME: "planify"
    KC_DB_SCHEMA: "keycloak"
    KC_HOSTNAME_STRICT: "false"
    KC_HTTP_ENABLED: "true"
---
apiVersion: v1
kind: Service
metadata:
    name: keycloak-service
    namespace: planify-dev
spec:
    selector:
        app: keycloak
    ports:
        - name: http
          port: 8080
          targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: keycloak
    namespace: planify-dev
spec:
    replicas: 1
    selector:
        matchLabels:
            app: keycloak
    template:
        metadata:
            labels:
                app: keycloak
        spec:
            containers:
                - name: keycloak
                  image: quay.io/keycloak/keycloak:24.0.1
                  args: ["start-dev"]
                  ports:
                      - containerPort: 8080
                  env:
                      - name: KEYCLOAK_ADMIN
                        valueFrom:
                            secretKeyRef:
                                name: keycloak-secrets
                                key: KEYCLOAK_ADMIN_USERNAME
                      - name: KEYCLOAK_ADMIN_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: keycloak-secrets
                                key: KEYCLOAK_ADMIN_PASSWORD
                      - name: KC_DB_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: postgres-secret
                                key: POSTGRES_PASSWORD
                  envFrom:
                      - configMapRef:
                            name: keycloak-config
