apiVersion: v1
kind: Service
metadata:
    name: keycloak-service
    namespace: planify-dev
spec:
    selector:
        app: keycloak
    ports:
        - name: http
          port: 8080
          targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: keycloak
    namespace: planify-dev
spec:
    replicas: 1
    selector:
        matchLabels:
            app: keycloak
    template:
        metadata:
            labels:
                app: keycloak
        spec:
            containers:
                - name: keycloak
                  image: quay.io/keycloak/keycloak:24.0.1
                  args: ["start-dev"]
                  ports:
                      - containerPort: 8080
                  env:
                      - name: KEYCLOAK_ADMIN
                        valueFrom:
                            secretKeyRef:
                                name: user-service-secrets
                                key: KEYCLOAK_ADMIN_USERNAME
                      - name: KEYCLOAK_ADMIN_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: user-service-secrets
                                key: KEYCLOAK_ADMIN_PASSWORD
