name: Infrastructure - CI/CD

on:
  push:
    branches: [main, dev]
    paths:
      - "k8s/**"
      - ".github/workflows/infrastructure-ci-cd.yaml"
      - "helm/infrastructure/**"

jobs:
  create-version-tag:
    name: Create Version Tag
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Bump version and push tag
        id: tag_version
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          WITH_V: true
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.tag_version.outputs.new_tag }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
  deploy-infrastructure:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      - run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            NAMESPACE="planify-main"
          else
            NAMESPACE="planify-dev"
          fi

          kubectl apply -f k8s/namespaces/namespaces.yaml

          helm upgrade --install infrastructure ./helm/infrastructure \
            --namespace ${NAMESPACE} \
            --create-namespace \
            --wait \
            --timeout=5m
