name: Infrastructure - CI/CD

on:
    push:
        branches: [main, dev]
        paths:
            - "k8s/**"
            - ".github/workflows/infrastructure-ci-cd.yaml"
            - "helm/infrastructure/**"

jobs:
    deploy-infrastructure:
        name: Deploy Infrastructure
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
        steps:
            - uses: actions/checkout@v4
            - run: |
                  mkdir -p $HOME/.kube
                  echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > $HOME/.kube/config
                  chmod 600 $HOME/.kube/config
            - run: |
                if [ "${{ github.ref }}" == "refs/heads/main" ]; then
                  NAMESPACE="planify-main"
                else
                  NAMESPACE="planify-dev"
                fi

                kubectl apply -f k8s/namespaces/namespaces.yaml

                helm upgrade --install infrastructure ./helm/infrastructure \
                  --namespace ${NAMESPACE} \
                  --create-namespace \
                  --wait \
                  --timeout=5m
